.container {
  background-color: yellow;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
  height: 100px;
  background-color: pink;
}
.float-right {
  float: right;
  height: 50px;
  background-color: blue;
}