* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  height: 10em;
  background-color: yellow;
}
main {
  margin: 30px 0;
}
.col-left {
  float: left;
  width: 30%;
  padding-right: 30px;
  background-color: pink;
}
.col-right {
  float: left;
  width: 70%;
  /* width: calc(70% - 30px); */
  background-color: yellowgreen;
}

footer {
  height: 6em;
  background-color: turquoise;
}